
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Rubik:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;




* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html, body {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  background-color: #f7f7f1;
  color: #333;
}
a {
  color: inherit;
  text-decoration: none;
}
sup {
  vertical-align: super;
  font-size: small;
  margin-left: 3rem;
  background-color: red;
  color: white;
  border-radius: 100%;
}


.logo {
  text-decoration: none;
}




.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.checkout-card {
  @apply mt-2 block w-[300px] rounded-lg border border-blue-200 shadow-md h-44;
}


.primary-button {
  @apply rounded bg-amber-300 py-2 px-4 shadow outline-none hover:bg-amber-400 active:bg-amber-500
}
.default-button {
  @apply rounded bg-gray-100 py-2 px-4 text-black shadow outline-none hover:bg-gray-200 active:bg-gray-300
}
.update-products-button {
  @apply rounded-md w-20 m-auto border mb-1 border-blue-400 p-2 shadow outline-none hover:bg-blue-300;
}
.next-button {
  @apply rounded-md w-32 m-auto border mb-1 border-blue-400 py-2 px-4 shadow outline-none hover:bg-blue-300;
}

.sign-up-button {
  @apply rounded-md w-64 m-auto border mb-1 border-zinc-400 py-2 px-4 shadow outline-none hover:bg-blue-300;
}
.back-to-products-button {
  @apply rounded-md w-44 bg-zinc-700 m-1 py-2 px-4 shadow outline-none active:bg-zinc-800;
}
.size-button {
  @apply border m-1 mb-4 border-blue-400 py-2 px-4 shadow outline-none;
}
.image {
  @apply h-3/5 w-full rounded-lg object-cover bg-white;
}
.image-slide {
  @apply h-3/5 w-full rounded-lg object-cover bg-white;
}


@media (prefers-color-scheme: white) {
  html {
    color-scheme: white;
  }
  body {
    color: black;
    background: white;
  }
}
