@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Rubik:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;




* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  background-color: #f7f7f1;
  color: #333;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

sup {
  vertical-align: super;
  font-size: small;
  margin-left: 3rem;
  background-color: red;
  color: white;
  border-radius: 100%;
}

.smooth-scroll {
  scroll-behavior: smooth;
}

footer a:hover {
  text-decoration: underline;
}


.logo {
  text-decoration: none;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}



.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.checkout-card {
  @apply mt-2 block w-[300px] rounded-lg border border-blue-200 shadow-md h-44;
}

.header {
  display: flex;
  padding: 4px 20px;
  height: 56px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background-color: #f3f3eb;
  z-index: 9999;
  position: relative;
  top: 0;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.header.fixed {
  position: fixed;
  top: 0;
  z-index: 9999;
}

.btn-mobile-nav {
  display: none;
}

.icon-mobile-nav {
  font-size: 24px;
}
.mobile-nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5em;
}








.update-products-button {
  @apply rounded-md w-20 m-auto border mb-1 border-[#5e4c34] p-2 shadow outline-none hover:bg-[#76592e];
}

.next-button {
  @apply rounded-md w-32 m-auto border mb-1 border-[#5e4c34] py-2 px-4 shadow outline-none hover:bg-[#76592e] hover:text-white;
}

.sign-up-button {
  @apply rounded-md w-64 m-auto border mb-1 border-zinc-400 py-2 px-4 shadow outline-none hover:bg-blue-300;
}

.back-to-products-button {
  @apply rounded-md w-44 bg-zinc-700 m-1 py-2 px-4 shadow outline-none active:bg-zinc-800;
}

.size-button {
  @apply border m-1 mb-4 border-[#5e4c34] py-2 px-4 shadow outline-none;
}

.image-slide {
  @apply h-3/5 w-full rounded-lg object-cover bg-white;
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }

  th, td {
    /* Adjust the table cells for better display on small screens */
    padding: 8px;
    font-size: 14px;
  }
  .btn-mobile-nav {
    display: block;
    transition: all 0.3s ease-in-out;
    z-index: 999;
  }
  .icon-mobile-nav {
    transition: all 0.3s ease-in-out;
  }

  .main-nav {
    background-color: rgba(255, 255, 255, 0.932);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in-out;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;


  }
  .mobile-nav-links {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
    gap: 48px;
  }

  .main-nav.active {
    display: block;
    transform: translateX(0);
    opacity: 1;
    pointer-events: all;
    visibility: visible;
    
  }

  .main-nav.hidden {
    display: none;
  }


}

@media (prefers-color-scheme: white) {
  html {
    color-scheme: white;
  }

  body {
    color: black;
    background: white;
  }
}