.navLinks {
  font-weight: 600;
  color: #5e4c34;
  font-size: 18px;
  cursor: pointer;
}

.navLinks:hover,
.navLinks:active {
  text-decoration: underline;
}

.loginButton {
  font-size: 16px;
  font-weight: 600;
  background-color: #946F3A;
  color: #f7f7f1;
  text-decoration: none;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 12px;
  cursor: pointer;
}

.loginButton:hover,
.loginButton:active {
  background-color: #76592e;
}

.header {
  height: 100vh;
  background-image: linear-gradient(rgba(62, 59, 59, 0.2),
      rgba(24, 23, 23, 0.2)), url(../assets/hero8.jpg);
  background-size: cover;
  max-width: 100%;
  background-repeat: no-repeat;
  color: #f7f7f1;
  margin-bottom: 96px;
}

.headerContainer {
  height: 100%;
  display: flex;
  max-width: 100%;
  /* flex-direction: column; */
  justify-content: start;
  align-items: end;
  margin-left: 2rem;
}

.headerContainerInner {
  width: 50%;
  margin-bottom: 5rem;
  color: #f7f7f1;
}

.headerContainerInner h1 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.05;
  letter-spacing: -0.5px;
  margin-bottom: 1rem;
}

.headerContainerInner p {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 2rem;
}

.btn:link,
.btn:visited {
  font-size: 20px;
  font-weight: 600;
  background-color: #5e4c34;
  color: #f7f7f1;
  text-decoration: none;
  display: inline-block;
  padding: 16px 32px;
  border-radius: 12px;
}

.btn:hover,
.btn:active {
  background-color: #f7f7f1;
  color: #5e4c34;
}


.container {
  padding: 0 2rem;
}

/* .main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

.featuredProducts {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

/*  */

.cardSlide {
  margin: 8px 0;
  display: block;
  width: 100%;
  border-radius: 8px;
  border: 1px solid #eaeaea;
  height: 320px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.new {
  display: flex;
  justify-content: start;
  gap: 20px;
  position: relative;
  height: 330px;
  width: 100%;
  overflow: hidden;
  margin-bottom: 96px;

}

.track {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 30s linear infinite;
  width: 100%;
}

.track:hover {
  animation-play-state: paused;
}

@keyframes marquee {
  from {
    transform: translate(0%);
  }

  to {
    transform: translate(100%);
  }
}

.card {
  margin-bottom: 8px;
  height: 100%;
  display: block;
  border-radius: 8px;
  border: none;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cardImage {
  height: 60%;
  width: 100%;
  border-radius: 8px 8px 0 0;
  object-fit: cover;
  background-color: #eaeaea;
}

.card:hover {
  scale: 1.03;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.addtocartbutton {
  width: 100%;
  color: #eaeaea;
  margin: 0 auto;
  display: block;
  border-radius: 8px;
  margin-bottom: 2rem;
  border: none;
  padding: 8px 16px;
  background-color: #6e5e48;
}

.addtocartbutton:hover,
.addtocartbutton:active {
  background-color: #5e4c34;
}

.viewdetailsbutton {
  width: 100%;
  color: #333;
  margin: 10px auto;
  display: block;
  border-radius: 8px;
  border: 1px solid #946f3a;
  padding: 8px 16px;
  background-color: white;
}

.viewdetailsbutton:hover,
.viewdetailsbutton:active {
  background-color: #946f3a;
  color: #eaeaea;
}

/* .form {
  @apply  flex justify-center mb-6
}
.input {
  @apply border-2 border-black w-56 rounded-xl mb-1 h-9 px-3 py-3
} */
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
  position: relative;
}

.input {
  border: 2px solid #333;
  width: 50%;
  border-radius: 15px;
  padding: 8px 16px;
}

.input::placeholder {
  color: #333;
  opacity: calc(0.5);
}

.search {
  position: absolute;
  padding: 8px;
  margin: 0.5rem;
  left: 70%;
  margin-left: 10px;
  color: #333;
  opacity: calc(0.5);
  height: 30px;
  width: 30px;
}

.footerHeading {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 2rem;
  color: #555;
}

.socialLinks {
  display: flex;
  list-style: none;
  gap: 2.4rem;
  margin-bottom: 1rem;
}

.contacts {
  font-style: normal;
  font-size: 16px;
  line-height: 1.6;
}

.footerLinks:link,
.footerLinks:visited {
  text-decoration: none;
  font-size: 24px;
  color: #767676;
  transition: all .3s;
  ;
}

.text {
  font-size: 16px;
  color: #767676;
  margin-bottom: 1rem;
  line-height: 1.5;
}

.tableContainer {
  max-width: 100%;
  padding: 1rem;
  overflow-x: auto !important;
}

.container {
  max-width: 1300px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.containerInner {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}







@media (max-width: 900px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }

  .input {
    width: 100%;
  }

  .search {
    left: 83%;
  }

  .header {
    background-image: linear-gradient(rgba(62, 59, 59, 0.2),
        rgba(24, 23, 23, 0.2)), url(../assets/mobile.jpg);
    background-size: cover;
  }

  .headerContainer {
    margin-left: 0;
    padding: auto;
  }

  .headerContainerInner {
    width: 100%;
    text-align: center;
    margin-bottom: 5rem;
    color: #f7f7f1;
  }

  .headerContainerInner h1 {
    font-size: 2.5rem;

  }

  .headerContainerInner p {
    font-size: 1.2rem;

  }



}

@media (prefers-color-scheme: dark) {

  .card,
  .footer {}

  .code {
    background: #111;
  }

  .logo img {
    filter: invert(1);
  }
}